/*
    Page-main
*/

.main-container {
  //display: flex;
  height: 100%;
}

.page-main {
  background-color: $white;
  padding-bottom: $margin*6;
  top: $pagetop;
  min-height: calc(100vh - 56px);

  &--maxwidth {
    max-width: 1032px;
  }
}
