/*
    Page-footer
    The site's footer.
*/
.page-footer {
    background-color: $white;
    bottom: 0;
    font-weight: 600;
    min-width: $min-width/1.5;
    padding: 1.25*$margin 0 $margin;
    width: 100%;

    
    &--maxwidth {
        max-width: 1000px;
    }

    &--enabled {
        opacity: 1;
        animation: show 18s 1, footer 1s ease-in-out 1;
        z-index: 2;
    }

    &--disabled {
        opacity: 0;
        animation: hide 18s 1, footer 1s ease-in-out 1;
    }

    &__container {
       
        .float-right {
            margin-left: auto;
        }
    }
}
